# Configurações do Banco de Dados
DATABASE_URL=mysql+pymysql://user_read_only:laborit_teste_2789@northwind-mysql-db.ccghzwgwh2c7.us-east-1.rds.amazonaws.com:3306/northwind

# Configurações OpenAI
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini

# Configurações da Aplicação
APP_NAME=FinTechX API
APP_VERSION=1.0.0
DEBUG=true